
.card-title{
    font-size: 1.75rem !important; 
}

.lead-story-img-overlay{
    padding-top:5rem !important;
}

.lead-story-card{
    height:270px !important;
}

.lead-story-card-image{
    opacity: 50% !important;
}