.container {
  height: 100vh !important;
}

/*
 * Header
*/

.nav-masthead .nav-link {
  color: rgba(51, 51, 51, 0.5);
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(20, 20, 20, 0);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
}