body{
    font-family: 'Roboto', sans-serif !important;
}

h3, h4{
    font-family: 'DM Serif Text', serif !important;
}

.btn-primary{
    background-color: #f8f9fa !important;
    border-color:#f8f9fa !important;
    color:#000 !important;
}

.btn-primary:hover{
    background-color: #000 !important;
    border-color:#000 !important;
    color:#fff !important;
}

.navbar-brand{
    font-size: 2rem !important;
    font-family: 'DM Serif Text', serif !important;
}

.top-voted-blocks .heading{
    font-family: 'DM Serif Text', serif; 
    font-size: 1.5rem;  
}